/* -----Reset----- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #000;
}

/* -----Common----- */
body{
  width: 100%;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/3183135/pexels-photo-3183135.jpeg?auto=compress);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn{
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  background-color: #0fb9b1;
  color: #000;
  border: none;
  outline: none;
  padding: 15px 40px;
  transition: all 0.3s ease-in;
}

.btn:hover{
  background-color: #000;
  color: #fff;
}

/* -----App Comp----- */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(29, 28, 26, 0.5);
}

/* -----Start Comp----- */
.App .card{
  min-width: 30%;
  max-width: 700px;
  background-color: #0fb9b1;
  padding: 30px;
  transition: all 0.3s ease-in;
}

.card:hover{
  transform: scale(0.98);
}

.card .card-text{
  background-color: #fff;
  padding: 40px;
  text-align: center;
}

.card-text h1{
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 500;
}

.card-text p{
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: 500;
}

/* -----Question Comp----- */
.card-text .ques{
  text-align: left;
  font-size: 1.8em;
}

.answers .option{
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1rem;
  background-color: #0fb9b1;
  padding: 10px;
  margin-bottom: 20px;
}

.answers .option input[type="radio"]{
  margin-right: 15px;
}

.card-text .error-msg{
  color: #e55039;
  margin-bottom: 20px;
}


