/* -----Reset----- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border-radius: 20px;
  color: #000;
}

/* -----Common----- */
body{
  width: 100%;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/3183135/pexels-photo-3183135.jpeg?auto=compress);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn{
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  background-color: #fff;
  border: none;
  outline: none;
  transition: all 0.3s ease-in;
}

/* -----App Comp----- */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(29, 28, 26, 0.5);
}

/* -----Start Card----- */
.App .start-card{
  min-width: 30%;
  background-color: #fff;
  padding: 30px;
  transition: all 0.3s ease-in;
}

.start-card:hover{
  transform: scale(1.05);
}

.start-card .card-text{
  background-color: #e74c3c;
  padding: 40px;
  text-align: center;
}

.card-text h1{
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 500;
}

.card-text p{
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: 500;
}

.card-text .btn-start{
  padding: 15px 50px;
}

.card-text .btn-start:hover{
  background-color: #000;
  color: #fff;
}

